/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 300px;
}

/* navbar */
.navbar {
  position: relative;
  min-height: 200px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}


/* MINIMIZING THE FOOTER? */
/* footer */
.footer {
  position: relative;
  max-height: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}