/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 330px;
}

/* navbar */
.navbar {
  position: relative;
  min-height: 100px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}