/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 300px;
}

/* navbar */
.navbar {
  position: relative;
  min-height: 120px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
  font-size: 14px;
}

#top {
  background: #ffffff;
  color: #999999;
}

/* FONT SIZE - overriding style.default.css size 14 */
/* scaffolding */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555555;
}



/* MINIMIZING THE FOOTER? */
/* footer */
.footer {
  position: relative;
  max-height: 5px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}

#footer {
  background: #ffffff;
  padding: 30px 0;
  color: #999999;
}

#copyright {
  padding: 20px 0;
}
